body {
  text-align: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  h1 {
    font-weight: bold;
  }
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
